body
{
    background-color:black
}
img.lap1 {
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: pict;
    animation-duration: 10s;
}

@keyframes pict {
    0% {
        left: 100px;
    }

    25% {
        left: 200px;
    }

    50% {
        left: 300px;
    }

    75% {
        left: 400px;
    }

    100% {
        left: 600px;
    }
}
 
h1{
    
}
