body {
    background-color: black
}

img.lap1 {
    width: 400px;
    height: 400px;
    position: relative;
    animation-name: image1;
    animation-duration: 5s;
    animation-iteration-count: 100;
   
}
img.lap2 {
    width: 400px;
    height: 400px;
    position: relative;
    animation-name: image2;
    animation: 5s;
    animation-iteration-count: 3;
 
}

@keyframes image1 {
    0% {
        left: 0px;
        top: 0px;
    }


    50% {
        left: 800px;
        top: 0px;
    }

  
    100% {
        left: 0px;
        top: 0px;
    }
}

